{{page-title "Error"}}
<div class="error-container">
    <h1>General Knowledge</h1>
    <i class="fas fa-exclamation-triangle"></i>
    <h2>OOPS!!!<br><br>Error in getting the model data</h2>
</div>
{{outlet}}